PORT=3000
MONGODB_URI=mongodb://priscilladellicarpini_db_user:<db_password>@ac-cprmwuv-shard-00-00.5q49eip.mongodb.net:27017,ac-cprmwuv-shard-00-01.5q49eip.mongodb.net:27017,ac-cprmwuv-shard-00-02.5q49eip.mongodb.net:27017/?ssl=true&replicaSet=atlas-v086fy-shard-0&authSource=admin&appName=API-ASTRONOMIA
SECRET_KEY=mi_clave_secreta